@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #030712; 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  background-color: #030712;
  min-height: 100vh;
}

/* MODAL GİRİŞ ANİMASYONU */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95); /* Aşağıda ve biraz küçük başlar */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); /* Yerine oturur ve büyür */
  }
}

.animate-slide-in {
  animation: slideIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards; /* Çok yumuşak bir geçiş */
}

/* YÜKLENİYOR DÖNMESİ (SPINNER) */
@keyframes spin {
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin 1s linear infinite;
}


/* MODAL ÇIKIŞ ANİMASYONU (Geriye sarma) */
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}

.animate-slide-out {
  animation: slideOut 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}